{#{%  %}#}
{% load static %}
<div>
    <div class="row">
        <div class="col-sm">
            <a class="image" style="height: 600px; width: 800px" onclick="show_project_image()">
                <img style="height: 600px; width: 800px" src='{{ MEDIA_URL }}{{ project_data.project_image_url }}'
                     align="center">
            </a>
        </div>
        <div class="col-sm">
            <table class="table table-bordered">
                <thead>
                <tr align="center" valign="center">
                    <th scope="col">量測項目名稱</th>
                    <th scope="col">量測項目圖示</th>
                </tr>
                </thead>
                <tbody>
                {% for item in item_data %}
                    <tr align="center" valign="center">
                        <td style="vertical-align:revert;">{{ item.measurement_items }}</td>
                        <td>
                            <a class="image" style="height: 60px; width: 60px"
                               onclick="show_item_image({{ item.item_id }})">
                                <img style="height: 60px; width: 60px; vertical-align: revert;"
                                     src='{{ MEDIA_URL }}{{ item.image }}'>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <table class="table table-bordered ">
        <thead>
        <tr align="center" valign="center">
            <th scope="col">專案名稱</th>
            <th scope="col">建立人</th>
            <th scope="col">建立日期</th>
            <th scope="col">備註</th>
            <th scope="col">量測人員</th>
            <th scope="col">量測數據上傳日期</th>
            <th scope="col">量測件數</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" valign="center">
            <td>{{ project_name }}</td>
            <td>{{ project_data.man }}</td>
            <td>{{ project_data.create_date }}</td>
            <td>{{ project_data.remake }}</td>
            <td>{{ project_data.measure_man }}</td>
            <td>{{ project_data.update_time }}</td>
            <td>{{ project_data.number_of_pieces }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="accordion">
    <div class="card ">
        {% for item in item_data %}
            <div class="card-header">
                <h2>
                    <div class="row" style="align-content: revert">
                        <a class="image" onclick="show_item_image({{ item.item_id }})"
                           style="height: 120px; align-content: revert; width: 120px">
                            <img src='{{ MEDIA_URL }}{{ item.image }}' style="align-content: revert">
                        </a>
                        <button class="button primary" type="button" data-toggle="collapse"
                                data-target="#{{ item.item_id }}" aria-expanded="false"
                                aria-controls="{{ item.item_id }}"
                                style="height: 80px;width: 50%; font-family:Arial ; font-size: 18px; align-content: revert">
                            <p class="">{{ item.measurement_items }}</p>
                        </button>
                    </div>
                </h2>
            </div>
            <div id="{{ item.item_id }}" class="collapse " data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col"> 量測項目名稱</th>
                            <th scope="col">量具名稱</th>
                            <th scope="col">規格中心</th>
                            <th scope="col">規格上限</th>
                            <th scope="col">規格下限</th>
                            <th scope="col">量測次數</th>
                            <th scope="col">量測點數</th>
                            <th scope="col">量測單位</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr align="center" valign="center">
                            <td class="vertical-align:revert">{{ item.measurement_items }}</td>
                            <td style="vertical-align: revert">{{ item.tool_name }} </td>
                            <td style="vertical-align: revert">{{ item.specification_center }}</td>
                            <td style="vertical-align: revert">{{ item.upper_limit }}</td>
                            <td style="vertical-align: revert">{{ item.lower_limit }}</td>
                            <td style="vertical-align: revert">{{ item.measure_number }}</td>
                            <td style="vertical-align: revert">{{ item.measure_points }}</td>
                            <td style="vertical-align: revert">{{ item.measure_unit }} </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <div class="">
                            <div class="row">
                                <div class="col-xl">
                                    <div>
                                        <div id='{{ item.item_id }}_x' style="width:70em"></div>
                                    </div>
                                </div>
                                <div class="col-xl" style="vertical-align: middle">
                                    <div>
                                        <table class="table table-bordered" style="vertical-align: revert">
                                            <tbody>
                                            <tr align="center" valign="center">
                                                <td colspan="2"
                                                    style="vertical-align: revert">{{ item.measurement_items }} <br>X
                                                    bar
                                                </td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">規格中心</td>
                                                <td style="vertical-align: revert">{{ item.x_chart_center }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">規格上限</td>
                                                <td style="vertical-align: revert">{{ item.x_chart_upper }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">規格下限</td>
                                                <td style="vertical-align: revert">{{ item.x_chart_lower }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">最大值</td>
                                                <td style="vertical-align: revert">{{ item.x_chart_max }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">最小值</td>
                                                <td style="vertical-align: revert">{{ item.x_chart_min }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">Max-Min</td>
                                                <td style="vertical-align: revert">{{ item.x_max_min }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">單位</td>
                                                <td style="vertical-align: revert">{{ item.measure_unit }} </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="row">
                                <div class="col-xl">
                                    <div>
                                        <div id='{{ item.item_id }}_r' style="width:70em"></div>
                                    </div>
                                </div>
                                <div class="col-xl" style="vertical-align: middle">
                                    <div>
                                        <table class="table table-bordered" style="vertical-align: revert">
                                            <tbody>
                                            <tr align="center" valign="center">
                                                <td colspan="2"
                                                    style="vertical-align: revert">{{ item.measurement_items }} <br>R
                                                    bar
                                                </td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">平均值</td>
                                                <td style="vertical-align: revert">{{ item.r_chart_avg }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">規格上限</td>
                                                <td style="vertical-align: revert">{{ item.r_chart_upper }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">規格下限</td>
                                                <td style="vertical-align: revert">{{ item.r_chart_lower }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">最大值</td>
                                                <td style="vertical-align: revert">{{ item.r_chart_max }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">最小值</td>
                                                <td style="vertical-align: revert">{{ item.r_chart_min }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">Max-Min</td>
                                                <td style="vertical-align: revert">{{ item.r_chart_max_min }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">單位</td>
                                                <td style="vertical-align: revert">{{ item.measure_unit }} </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="row">
                                <div class="col-xl">
                                    <div>
                                        <div id="{{ item.item_id }}_c" style="width:70em"></div>
                                    </div>
                                </div>
                                <div class="col-xl" style="vertical-align: middle">
                                    <div>
                                        <table class="table table-bordered" style="vertical-align: revert">
                                            <tbody>
                                            <tr align="center" valign="center">
                                                <td colspan="2"
                                                    style="vertical-align: revert">{{ item.measurement_items }} <br>管制圖
                                                </td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">規格中心</td>
                                                <td style="vertical-align: revert">{{ item.specification_center }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">規格上限</td>
                                                <td style="vertical-align: revert">{{ item.upper_limit }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">規格下限</td>
                                                <td style="vertical-align: revert">{{ item.lower_limit }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">最大值</td>
                                                <td style="vertical-align: revert">{{ item.x_max }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">最小值</td>
                                                <td style="vertical-align: revert">{{ item.x_min }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">單位</td>
                                                <td style="vertical-align: revert">{{ item.measure_unit }} </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="row">
                                <div class="col-xl">
                                    <div>
                                        <div id="{{ item.item_id }}_h" style="width: 70em"></div>
                                    </div>
                                </div>
                                <div class="col-xl">
                                    <div>
                                        <table class="table table-bordered" style="vertical-align: revert">
                                        <tbody>
                                        <tr align="center" valign="center">
                                            <td>Max - Min</td>
                                            <td>{{ item.h_group_pitch }}</td>
                                        </tr>
                                        <tr align="center" valign="center">
                                            <td>組數</td>
                                            <td>11</td>
                                        </tr>
                                        <tr align="center" valign="center">
                                            <td>組距</td>
                                            <td>{{ item.h_full_range }}</td>
                                        </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xl" style="vertical-align: middle">
                                    <div>
                                        <table class="table table-bordered" style="vertical-align: revert">
                                            <tbody>
                                            <tr align="center" valign="center" style='font-weight: bold'>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.0 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.1 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.2 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.3 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.4 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.5 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.6 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.7 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.8 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.9 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_range.10 }}</td>
                                            </tr>
                                            <tr align="center" valign="center">
                                                <td style="vertical-align: revert">{{ item.h_chart_median.0 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_median.1 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_median.2 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_median.3 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_median.4 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_median.5 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_median.6 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_median.7 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_median.8 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_median.9 }}</td>
                                                <td style="vertical-align: revert">{{ item.h_chart_median.10 }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="{{ item.item_id }}_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src='{{ MEDIA_URL }}{{ item.image }}' width="860px">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="modal" id="chart_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src='{{ MEDIA_URL }}{{ project_data.project_image_url }}' width="860px">
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
    var data =
        {{ all_data |safe }};
    for (i in data) {
        TESTER = document.getElementById(data[i]['x_name']);
        var Data_x = {
            type: 'scatter',
            x: data[i]['x_x_data'],
            y: data[i]['x_y_data'],
            mode: 'lines+markers',
            name: data[i]['data'],
            showlegend: true,
            hoverinfo: 'all',
            line: {
                color: 'blue',
                width: 2
            },
            marker: {
                color: 'blue',
                size: 8,
                symbol: 'circle'
            }
        }

        var Viol_x = {
            type: 'scatter',
            x: data[i]['x_x_viol_data'],
            y: data[i]['x_y_viol_data'],
            mode: 'markers',
            name: data[i]['data'],
            showlegend: true,
            marker: {
                color: 'rgb(255,65,54)',
                line: {width: 3},
                opacity: 0.5,
                size: 12,
                symbol: 'circle-open'
            }
        }

        var CL_x = {
            type: 'scatter',
            x: data[i]['x_x_cl_data'],
            y: data[i]['x_y_cl_data'],
            mode: 'lines',
            name: data[i]['cl'],
            showlegend: true,
            line: {
                color: 'red',
                width: 2,
                dash: 'dash'
            }
        }

        var Centre_x = {
            type: 'scatter',
            x: data[i]['x_x_center_data'],
            y: data[i]['x_y_center_data'],
            mode: 'lines',
            name: data[i]['center'],
            showlegend: true,
            line: {
                color: 'grey',
                width: 2
            }
        }

        var data_x = [Data_x, Viol_x, CL_x, Centre_x]

        var layout_x = {
            title: data[i]['x_title'],
            xaxis: {
                zeroline: false
            },
            yaxis: {
                range: data[i]['x_y_range'],
                zeroline: false
            }
        }
        Plotly.newPlot(data[i]['x_name'], data_x, layout_x);

        TESTER = document.getElementById(data[i]['r_name']);
        var Data_r = {
            type: 'scatter',
            x: data[i]['r_x_data'],
            y: data[i]['r_y_data'],
            mode: 'lines+markers',
            name: data[i]['data'],
            showlegend: true,
            hoverinfo: 'all',
            line: {
                color: 'blue',
                width: 2
            },
            marker: {
                color: 'blue',
                size: 8,
                symbol: 'circle'
            }
        }

        var Viol_r = {
            type: 'scatter',
            x: data[i]['r_x_viol_data'],
            y: data[i]['r_y_viol_data'],
            mode: 'markers',
            name: data[i]['data'],
            showlegend: true,
            marker: {
                color: 'rgb(255,65,54)',
                line: {width: 3},
                opacity: 0.5,
                size: 12,
                symbol: 'circle-open'
            }
        }

        var CL_r = {
            type: 'scatter',
            x: data[i]['r_x_cl_data'],
            y: data[i]['r_y_cl_data'],
            mode: 'lines',
            name: data[i]['cl'],
            showlegend: true,
            line: {
                color: 'red',
                width: 2,
                dash: 'dash'
            }
        }

        var Centre_r = {
            type: 'scatter',
            x: data[i]['r_x_center_data'],
            y: data[i]['r_y_center_data'],
            mode: 'lines',
            name: data[i]['center'],
            showlegend: true,
            line: {
                color: 'grey',
                width: 2
            }
        }

        var data_r = [Data_r, Viol_r, CL_r, Centre_r]

        var layout_r = {
            title: data[i]['r_title'],
            xaxis: {
                zeroline: false
            },
            yaxis: {
                range: data[i]['r_y_range'],
                zeroline: false
            }
        }
        Plotly.newPlot(data[i]['r_name'], data_r, layout_r);

        TESTER = document.getElementById(data[i]['c_name']);
        var Data_c = {
            type: 'scatter',
            x: data[i]['c_x_data'],
            y: data[i]['c_y_data'],
            mode: 'lines+markers',
            name: data[i]['data'],
            showlegend: true,
            hoverinfo: 'all',
            line: {
                color: 'blue',
                width: 2
            },
            marker: {
                color: 'blue',
                size: 8,
                symbol: 'circle'
            }
        }

        var Viol_c = {
            type: 'scatter',
            x: data[i]['c_x_viol_data'],
            y: data[i]['c_y_viol_data'],
            mode: 'markers',
            name: data[i]['vol'],
            showlegend: true,
            marker: {
                color: 'rgb(255,65,54)',
                line: {width: 3},
                opacity: 0.5,
                size: 12,
                symbol: 'circle-open'
            }
        }

        var CL_c = {
            type: 'scatter',
            x: data[i]['c_x_cl_data'],
            y: data[i]['c_y_cl_data'],
            mode: 'lines',
            name: data[i]['cl'],
            showlegend: true,
            line: {
                color: 'red',
                width: 2,
                dash: 'dash'
            }
        }

        var Centre_c = {
            type: 'scatter',
            x: data[i]['c_x_center_data'],
            y: data[i]['c_y_center_data'],
            mode: 'lines',
            name: data[i]['center'],
            showlegend: true,
            line: {
                color: 'grey',
                width: 2
            }
        }

        var data_c = [Data_c, Viol_c, CL_c, Centre_c]

        var layout_c = {
            title: data[i]['c_title'],
            xaxis: {
                zeroline: false
            },
            yaxis: {
                range: data[i]['c_x_range'],
                zeroline: false
            }
        }
        Plotly.newPlot(data[i]['c_name'], data_c, layout_c);

        {#var trace1_h = {#}
        {#    x: [0, 1, 2, 3, 4, 5],#}
        {#    y: [1.5, 1, 1.3, 0.7, 0.8, 0.9],#}
        {#    type: 'scatter' 直線曲線繪製#}

        TESTER = document.getElementById(data[i]['h_name']);
        var trace1_h = {
            x: data[i]['h_t_x_data'],
            y: data[i]['h_t_y_data'],
            type: 'bar',
            name: 'Primary Product',
            marker: {
                color: 'rgb(49,130,189)',
                opacity: 1.0,
            }
        };

        var data_h = [trace1_h];

        var layout_h = {
            title: data[i]['h_chart_name'],
            xaxis: {
                {#tickangle: -45#}
            },
            yaxis: {
                range: data[i]['h_y_range'],
            },
            barmode: 'group'
        };
        Plotly.newPlot(data[i]['h_name'], data_h, layout_h);
    }


</script>
<script language="JavaScript">
    function show_project_image() {
        $('#chart_modal').modal('show');
    }

    function show_item_image(item) {
        name = '#' + item + '_modal'
        $(name).modal('show');
    }
</script>
