{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    {% include 'common_block/head.html' %}
</head>
<body class="is-preload">
<div id="wrapper">
    <div id="main">
        <div class="inner">
            {% include 'common_block/project_set_menu_name.html' %}
            {% include 'form/banner_measure_item.html' %}
        </div>
    </div>
    <div id="sidebar">
        <div class="inner">
            {% include 'common_block/menu.html' %}
            <section>
                {% include 'common_block/statement.html' %}
            </section>
            <footer id="footer">
                {% include 'common_block/footer.html' %}
            </footer>
        </div>
    </div>
</div>
{% include 'common_block/scripts.html' %}
</body>
</html>