{% load static %}
{% for p in projects %}
    <tr align="center" valign="center">
        <td style="vertical-align: revert">{{ p.project_name }} </td>
        <td style="vertical-align: revert">
            <a href='#modal' id="item_image" onclick="show_project({{ p.id }})">
                <img id="js-image" src="/media/{{ p.project_image }}" width='50' height="50"
                     alt="Snow">
            </a>
        </td>
        <td style="vertical-align: revert">{{ p.project_create_date }} </td>
        <td style="vertical-align: revert">{{ p.founder_name }} </td>
        <td style="vertical-align: revert">{{ p.remake }}</td>
        <td style="vertical-align: revert">
            <button type="button" style="box-shadow:inset 0 0 0 2px #d9534f; color: #d9534f;"
                    class="btn  js-delet-project btn-danger text-white"
                    data-url="{% url 'project_delet' p.id %}">
                <span style="color: white" class="glyphicon glyphicon-trash">刪除</span>
            </button>
            <button type="button"
                    class="btn js-update-project btn-warning " style="box-shadow:inset 0 0 0 2px #f0ad4e;"
                    data-url="{% url 'update_project' p.id %}">
                <span style="color: white" class="glyphicon glyphicon-pencil">修改</span>

            </button>
            <button type="button"
                    class="btn" style="box-shadow:inset 0 0 0 2px #646464;"
{#                    href="{% url 'project_item_create' p.id %}"#}
                    onclick="location.href='/project_menage/create_measure_item/{{ p.id }}'">
                <span style="color: #646464" class="glyphicon glyphicon-book">新增量測項目</span>
            </button>
        </td>
    </tr>
    <div class="modal" id="{{ p.id }}_item_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ MEDIA_URL }}{{ p.project_image }}" width="860px">
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<script language="JavaScript">
    function show_project(id) {
        name = '#' + id + '_item_modal';
        $(name).modal('show');
    }
</script>
</tr>
</thead>



